:root{
font-size:16px;
box-sizing:border-box;
}

.header{
width: 100%;
padding: 20px;
background-color: #111111;
color: white;
font-size:1rem;
}

.container{

}

.banner{

}

.card-wrapper{

}

.card{

}

.parallax{

}

.feedback{

}

.feedback-cards{

}

.footer{

}

.link-list{

}

.social-media-link{

}